<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.mapper.SysUserRoleMapper">

    <insert id="batchInsert">
        insert into sys_user_role(user_id, role_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

    <delete id="deleteByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <delete id="deleteByRoleId">
        delete from sys_user_role where role_id = #{roleId}
    </delete>

</mapper> 