<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upms.mapper.SysDictItemMapper">
    
    <!-- 根据字典类型查询字典项列表 -->
    <select id="selectDictItemsByType" resultType="com.example.upms.api.domain.entity.SysDictItem">
        select item_id, dict_type, item_label, item_value, sort, status, create_time, update_time, remark
        from sys_dict_item
        where dict_type = #{dictType}
        and status = '0'
        order by sort
    </select>
    
    <!-- 根据字典类型和字典项值查询字典项标签 -->
    <select id="selectDictItemLabel" resultType="java.lang.String">
        select item_label
        from sys_dict_item
        where dict_type = #{dictType}
        and item_value = #{itemValue}
        and status = '0'
        limit 1
    </select>
</mapper> 